<p id="notice"><%= notice %></p>
<div class="col-sm-12">
  <h1>Escolha o tipo de busca</h1>
  <div class="container-fluid">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#">Busca por atributos</a></li>
      <li><a href="/cenario_resultado/<%= @id %>">Busca por produtividade</a></li>
    </ul>

    <div class="row">
      <div class="col-sm-8">
        <div class="row mg-t-20">
          <div class="col-sm-4">
            <strong>Variáveis</strong>
          </div>
          <div class="col-sm-8">
            <strong>Condições</strong>
          </div>
        </div>

        <div class="row mg-t-10">
          <div class="col-sm-12">
            <% @nodes.each do |key,value| %>
              <div class="row mg-b-15">
                <div class="col-sm-4">
                  <%= key.to_s.humanize %>
                </div>
                <div class="col-sm-8">
                  <select name="<%=key%>" id="<%=key%>" class="node-value-selector form-control">
                    <option value="" class="node-value-selector form-control">selecione uma opcao</option>
                    <% value.each do |node|%>
                      <option value="<%=node.name%>" data-result="<%=node.result%>" data-tree="<%=@id%>" class="node-value-selector form-control" ><%=node.name%></option>
                    <% end %>
                    </option>
                  </select>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>

      <div class="col-sm-4">
        <h2>Produtividade:</h2>
          <div id="final_result">

          </div>
        <div class="col-sm-12">
          <h2>Escolhas:</h2>
          <div>
            <ul id="escolhas">

            </ul>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>
