
  <div class="col-sm-12">
    <div class="row">
      <div class="col-sm-9">
        <h1 class="mg-t-15 mg-b-10">Lista de árvores</h1>
      </div>

      <div class="col-sm-3">
        <%= link_to 'Nova árvore', new_tree_path ,:class => "btn btn-primary btn-lg btn-full-width pull-right" %>
      </div>
    </div>
  </div>

  <div class="col-sm-12">
    <table class="table table-hover table-bordered">
      <thead class="thead-inverse">
        <tr>
          <th>Cod</th>
          <th>Usuario</th>
          <th>Nome da árvore</th>
          <th>Número de instancias</th>
          <th>Número de variaveis</th>
          <th>Tamanho da árvore</th>
          <th colspan="3" >Actions</th>
        </tr>
      </thead>

      <tbody>
        <% @trees.each do |tree| %>
        <tr>
          <th scope="row"><%= tree.id %></th>
          <td><%= tree.user.email %></td>
          <td><%= tree.name %></td>
          <td><%= tree.leaf_number %></td>
          <td><%= tree.variable_numbers %></td>
          <td><%= tree.tree_size %></td>
          <td><%= link_to 'Mostrar', :controller => :nodes, :action => :cenario , :tree_id => tree.id %></td>
          <td><%= link_to 'Deletar', tree, method: :delete, data: { confirm: 'Tem certeza? Todas as informaçoes serão perdidas' } %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
