<p>
  <strong>Usuario:</strong>
  <%= @tree.user.name %>
</p>

<p>
  <strong>Nome:</strong>
  <%= @tree.name %>
</p>

<p>
  <strong>Numero de instacias:</strong>
  <%= @tree.leaf_number %>
</p>

<p>
  <strong>Numero de variaveis:</strong>
  <%= @tree.variable_numbers %>
</p>

<p>
  <strong>Tamanho da arvore:</strong>
  <%= @tree.tree_size %>
</p>

<%= link_to 'Editar', edit_tree_path(@tree) %> |
<%= link_to 'Voltar', trees_path %>
